* {
    box-sizing: border-box;
    margin: 0;
}
.container {
    display: flex;
    justify-content: space-around;
    flex-flow: row;
    flex-wrap: wrap;
    padding-top: 150px;
}
.xbtGroup {
    display: flex;
}