* {
    box-sizing: border-box;
    margin: 0;
}

.container {
    display: flex;
    justify-content: space-around;
    flex-flow: row;
    flex-wrap: wrap;
    border: 80px groove #f9d2bd;
    margin-top: 50px;
}

.xbtGroup {
    display: flex;
}