.container{
    line-height: 60px;
    margin: 50px;
    padding: 30px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    background-color: #f6bd20;
}
.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    font-size: 20px;
    text-align: center;
}