* {
    box-sizing: border-box;
    margin: 0;
}

#page {
    display: grid;
    width: 100%;
    grid-template-areas: 
    "head head"
    "main nav"
    "foot nav";
    grid-template-rows: 14fr 500px 1fr;
    grid-template-columns: 3fr 1fr;
  }
  
  #page > header {
    grid-area: head;
    background: #2d6360 50% 0 url(images/huntington.jpg) no-repeat;
    
  }
  
  #page > nav {
    grid-area: nav;
    background-color: #ffa08c;
  }
  
  #page > main {
    grid-area: main;
    background-color: #ffff64;
  }
  
  #page > footer {
    grid-area: foot;
    background-color: #8cffa0;
  }