* {
    box-sizing: border-box;
    margin: 0
}

.nav-wrapper{
    display: flex;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    font-size: 20px;
    padding: 30px;
}