@import url('https://fonts.googleapis.com/css?family=Roboto');

.nav-wrapper{
    display: flex;
    justify-content: space-around;
    font-size: 20px;
    padding-top: 20px;
    background-color: #e91e63;
    text-align: center;
    border-radius: 30px;
}


.link-text {
    display: flex;
    text-align: center;
    line-height: 30px;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    color: #ffe400;
    justify-content: center;

}