@import url('https://fonts.googleapis.com/css?family=Metamorphous');
.navbar-container {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    font-family: 'Metamorphous', cursive;
    font-size: 30px;
    line-height: 50px;
    border: 20px groove #f9d2bd;
    background-color: #fde0e0;
}

.header-font {
    display: flex;
    justify-content: center;
    font-family: 'Metamorphous', cursive;
}

.text-link {
    color: #dfcb8f;
    border-image-source: url('../../shared/images/border.jpg');
    border-bottom: solid;
}