@import url('https://fonts.googleapis.com/css?family=Roboto');

body, html {
    height: 100%;
}
.header-home {
    padding-top: 150px;
    background-size: cover;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Lato', sans-serif;
    color: #2196f3;
    font-size: 60px;
}