@import url('https://fonts.googleapis.com/css?family=Roboto');
.header-home {
    background-image: url('../App/shared/images/download.png') no-repeat center center fixed;
    padding-top: 150px;
    background-size: cover;
    line-height: 40px;
    min-height: 100%;
    min-width: 1024px;
    width: 100%;
    height: auto;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Lato', sans-serif;
    color: #2196f3;
    font-size: 60px;
}