@import url('https://fonts.googleapis.com/css?family=Metamorphous');

.navbar-container {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    font-family: 'Metamorphous', cursive;
    font-size: 20px;
    line-height: 50px;
    border-bottom: solid;
    /* background-color: #fde0e0;	 */
}

.header-font {
    display: flex;
    justify-content: center;
    font-family: 'Metamorphous', cursive;
}